.circle{
	background-color: #060606;
	height: 142px;
	width: 142px;
	border-radius: 75px;
	margin: 0 auto;
}

.teamSection{
	height: 780px;
}

.teamSection h2{
	font-weight: 700;
}

.teamSection h3{
	font-weight: 100;
  font-size: 23px;
  line-height: 1.2;
  color: #4d4d4d;
}

.teamSection .row:nth-child(1){
	padding-top: 100px;
	padding-bottom: 63px;
}

.description{
	width: 960px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 30px;
}

.see-more{
  background: white;
  border: 2px solid #d18c2e !important;
  border-radius: 26px !important;
  color: black !important;
  font-family: 'rubik-light', sans-serif;
  font-weight: 100 !important;
  padding: 9px 32px !important;
  font-size: 21px !important;
}

.see-more:hover{
	color: white !important;
}

@media screen and  (min-width: 1000px){
	.p-width {
		width: 290px;
	  margin-left: auto;
	  margin-right: auto;
	}
}
/*Find us section*/


.findUs{
	font-family: 'Rubik', sans-serif !important;
  margin-top: 50px;
}

.findUs p{
	width: 530px;
	margin: 0 auto;
	color: #acb4b6;
	font-weight: 300;
	font-size: 19px;
	margin-bottom: 54px;
}

.findUs .title{
	font-size: 16px;
	font-weight: 500; 
}

.findUs .subtitle{
	font-size: 15px;
	font-weight: 200; 
	color: #acb4b6;
}

.mb-32{
	margin-bottom: 32px;
}

.findUseform input{
	border: 3px solid #e0e0e0;
	border-radius: 0;
	font-weight: lighter;
  font-size: 14px;
}

.findUseform textarea{
	border: 3px solid #e0e0e0;
	border-radius: 0;
	font-weight: lighter;
  font-size: 14px;
}
.pl-0{padding-left: 0 !important; }
.mb-0{margin-bottom: 0 !important;}
.mt-0{margin-top: 0 !important;}
.pr-0{padding-right: 0 !important;}
.mb-20{margin-bottom: 20px !important;}



.top_panel {
  min-height: 45px;
  margin-top: 0;
  position: relative;
  z-index: 10000;
  font-size: 0.8125em;
  font-weight: 400;
  background: rgba(216, 149, 0, 1);
  color: white;
}


.top_panel a{
  color: white;
}

/*Top panel*/

.panel-container{
  width: 1000px;
  margin: 0 auto;
}

/*Navbar*/

  .row{
    margin: 0 !important;
  }
	@media (min-width: 768px){
		.navbar-nav>li {
	    margin-left: 5px;
	  }
	}
	.fixed-padding{
		padding-top: 8px;
    padding-bottom: 8px;
	}

  body{
   font-family: 'Rubik', sans-serif;
  }

  .add-car{
    background-position: 12px;
    background-repeat: no-repeat;
    background-size: 23px;
    width: 20%;
    background-color: transparent;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 5px;
  }

  .home-nav{
    background-color: #0f0f0f;
    border-radius: 0;
    font-family: 'rubik-light', sans-serif;
    font-size: 15px;
    height: 103px;
    margin-bottom: 0;
  }li a{
    color:#fffefe;
  }ul{
    padding-top: 26px;
    padding-bottom: 29px;
  }

  .logoImage{
    width: 40%;
    padding-top: 24px;
    padding-bottom: 22px;
    margin-left: 42px;
  }

  /*BgExercise section*/
  .bgExercise{
    height: 100vh;
    background: url(images/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bgExerciseTerms{

    background-color: #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue" !important;
    color:white;

  }

  .termP {
    font-family: "Helvetica Neue" !important;
    color:white;
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 50px;
    line-height: 28px;
    text-align: justify;

  }

  /*BgExercise section */
  .middleBg{
    height: 120vh !important;
  }

  .bgExercise h1{
    padding-top: 162px;
    font-size: 51px;
    font-weight: 900;
  }


  .terms{


  }

  .bgTerms{
    padding-top: 20px !important;

  }

  .bgExercise h1, .bgExercise button, .bgExercise p{

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:white;

  }

  .bgExercise p{
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 50px;
    line-height: 28px;
    text-align: justify;
  }

  .paginations{
    width: 100% !important;
  }

  .yellow-color{
    color: #d18c2e !important;
  }
  .see-more{
    background: rgba(216, 149, 0, 0.2);
    border: 1px solid #d89500 !important;
    border-radius: 26px !important;
    color: white !important;
    font-family: 'rubik-light', sans-serif;
    font-weight: 100 !important;
    padding: 11px 56px !important;
    font-size: 18px !important;
  }

  .productContainer{
    margin-top: 30px;
    margin-bottom: 30px;

  }

  .see-moreCatalog{
    background: rgba(216, 149, 0, 0.2);
    border: 1px solid #d89500 !important;
    border-radius: 26px !important;
    color: black !important;
    font-family: 'rubik-light', sans-serif;
    font-weight: 100 !important;
    padding: 11px 56px !important;
    font-size: 18px !important;
  }

  .see-more:hover{
    background: rgba(216, 149, 0, 0.6);
  }


  /*products section*/
  .productSection{
    font-family: 'Rubik', sans-serif !important;
  }

  .productSection h6{
    color: rgba(216, 149, 0, 1);
  }
  .productSection h2{
    font-size: 2.1em;
  }

  .productsDescription {
    padding-top: 120px;
  }

  .productsDescription h6{
    padding-top: 40px;
  }

  .productsDescription .col-md-6{
    padding: 0;
    height: 450px;
  }

  .greyBg{
    background: #e9e9e9;
  }

  .productsDescription h2{
    line-height: 1.4;
    padding: 0 8%;
  }



  .photo1{
    background: url(images/photo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
  }

  .productSection p{
    width: 1040px;
    margin: 0 auto;
    color: #acb4b6;
    font-size: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .productSection .see-more{
    background: rgba(216, 149, 0, 1);
    color: white !important;
    padding: 11px 40px !important;
    border-radius: 0 !important;
  }

  .productSection .see-more:hover{
    background: rgba(216, 149, 0, 0.3);
    color: rgba(216, 149, 0, 1) !important;
  }

  .productSection .viewAll{
    background: white !important;
    border: 3px solid #ff9600 !important;
    color: #ff9600 !important;
  }

  .productSection .viewAll:hover{
    background: rgba(216, 149, 0, 0.3) !important;
    color: white !important;
  }

  .logo{
    width: 250px;

  }

  .productSection .title{
    font-weight: 400;
    font-size: 16px;
  }

  .productSection .subtitle{
    color: #b0b0b0;
    font-size: 16px;
  }

  .protein-bg{
    background: url(images/protein-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
  }

  .products{
    margin-top: 50px;
  }

  .scrollable{
    height: 700px;
    overflow-y: auto;
  }

  .productSection .signUp{
    color: #7f7f7f !important;
    border: 2px solid #da9b0f !important;
    background-color: white;
    font-size: 25px !important;
    padding: 5px 30px !important;
    margin-top: 2px !important;
  }

  .productsmargin{
    margin-top: 20px;
    margin-bottom: 20px;

  }

  .subscribeSection{

   }

  .subscribeSection button:hover{
    background:rgba(255,255,255, 0.9)!important;
    color: rgba(216, 149, 0, 0.6)!important;
   }
  /*Subscription section*/

  .yellowSection{
    background: url(images/yellow-bg.png);
    height: 397px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 72%;
  }

  .yellowSection h1{
    margin-top: 54px;
    width: 573px;
    font-family: 'rubik-medium', sans-serif;
    width: 600px;
    margin-bottom: 37px;
  }

  .topSellertitle{
    font-size: 28px;
  }

  .bolder{
    font-weight: 700;
  }

  .yellowSection input{
    margin-bottom: 104px;
    border-radius: 0;
  }

  .subscribeSection p{
    font-family: 'rubik-light', sans-serif;
  }

  .subscribeSection .f21{
    font-size: 21px;
  }

  .subscribeSection button{
    background: rgba(216, 149, 0, 0.2);
    border: 1px solid white;
    border-radius: 26px;
    color: white;
    font-family: 'rubik-light', sans-serif;
    font-weight: 100;
    padding: 6px 26px;
    font-size: 16px;
  }

  .topImage{
  }

  /*footer*/
  .blackFooter{
    background-color: #060606;
    height: 200px;
    width: 100%;
    color: white !important;
  }

  .blackFooter .row{
    padding-top: 40px;
  }


  .fixed-width{
    width: 13.33333% !important;
  }

  .blackFooter a{
    color: white !important;
  }

  .blackFooter a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
  }

  .blackFooter p{
    padding-top: 57px;
  }


@media screen and  (max-width: 767px){
  .blackFooter {
    height: 450px;
  }

  .infoRow{
    text-align: center;
  }

  .fixed-width{
    width: 100% !important;
  }

  .yellowSection, .yellowSection h1 {
    width: 100%;
    text-align: center
  }

  .blackFooter p{
    padding-top: 85px;
  }
}

@media (min-width: 1000px){
  .mainNav, .topPanelnavRight{
    margin-right: 7% !important;
  }

  .topPanelnavRight a{
     margin-right: 2% !important;
  }
}

.send-message{
  color: #ff9600;
  background-color: transparent !important;
  border: 5px solid #ff9600 !important;
  padding: 1.358em 2.35em !important;
  font-weight: 500 !important;
  margin: 40px 0 !important;
}

.send-message span{
  transition: all linear 0.15s;
}

.send-message .overfl{
  overflow: hidden;
  margin-bottom: 0;
}

.send-message span {
  display: block;
  transition: all linear 0.15s;
  height: 1.215em;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.send-message .second {
  -webkit-transform: translateY(1em);
  -moz-transform: translateY(1em);
  -ms-transform: translateY(1em);
  transform: translateY(1em);
  height: 0;
  opacity: 0;
}

.send-message:hover .first {
  -webkit-transform: translateY(-1em);
  -moz-transform: translateY(-1em);
  -ms-transform: translateY(-1em);
  transform: translateY(-1em);
  overflow: hidden;
  opacity: 0;
}

.send-message:hover .second {
  -webkit-transform: translateY(-1.2em);
  -moz-transform: translateY(-1.2em);
  -ms-transform: translateY(-1.2em);
  transform: translateY(-1.2em);
   height: 1.215em;
   opacity: 0.7;
}

.fixed-margin{

  margin-bottom: 0px !important;

}
.redBg{
	background: none;
	background-color: #ff0017 !important;
}

.teamSection{
	height: auto;
}

.see-more:hover{
 	color:white !important;
}

.mb-40{
	margin-bottom: 40px !important;
}

.teamSection h1{
	font-weight: 700;
  margin-top: 60px;
  color: #4d4d4d;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

