<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  </head>
  <body>
    <h1>Thi is a message from <a href="legacysupplements.com/"></a>
         </h1>
    <h4>  This is a notification for a new message:</h4>

    <p>  <label for=""> Name: </label> <span>   <%=  @name %> </span></p>
    <p>  <label for=""> Email: </label> <span>  <%= @email  %> </span></p>
    <p> <label for=""> Message: </label>   <%= @content  %> </p>

  </body>
</html>
