<div class="empresa-section">
  <div class="row">
    <div class="col-md-6 empresa-left-section">
      <div class="click-menu">
        <div class="text-right">
          <i class="fa fa-window-close-o close-menu" aria-hidden="true"></i>
        </div>
        <br>
        <br>
        
        <div class="menu-content">
          <a href="/">HOME</a>
          <br>
          <a href="/catalog">PRODUCTOS</a>
          <br>
          <a href="">SERVICIOS</a>
          <br>
          <a href="">BLOG</a>
          <br>
          <a href="/catalog">EMPRESA</a>
          <br>
          <a href="">CONTÁCTO</a>
          <br>
          <br>
          <br>
          <br>
          <hr class="hr-menu">
          <br>
          <a href="">COTIZACIÓN</a>
          <br>
          <a href="">ÓRDENES</a>
          <br>
          <a href="">BÚSQUEDA</a>
          <br>
          <a href="">TERMINOS</a>  
        </div>
      </div>

      <img src="/assets/images/full_logo_white.png" class="sumel-logo-blue">
      <i class="fa fa-bars bar-menu" aria-hidden="true"></i>
      <div class="empresa-left-text">
        <h5>Nos reconocen por ser:</h5>
        <h1>Una Empresa con <br> Calidad humana</h1>
        <p>
          Una compañia que se preocupa por la felicidad <br> de sus clientes. Ofrecemos productos de alta
          calidad, <br> que dejan atrás cualquier tipo de límites.
        </p>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/images/spacex.png" class="space-logo">
        </div>
        <div class="col-md-9 space-text">
          <p class="history" style="width: 35%;">- Nuestra historia</p>
          <p  class="negocio" style="width: 35%;">- Lineas de negocio</p>
        </div>
      </div>
      <div class="learn-more">
        <%=link_to "¿Más de nosotros?", {}, class: 'mas-button'%>
      </div>
      <div class="conectate">
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <h4>Conéctese con nosotros</h4>
          </div>
          <div class="col-md-6 social-fa">
            <div class="row" style="">
              <div class="col-md-2">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </div> 
              <div class="col-md-1" style="padding: 0;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </div> 
              <div class="col-md-2">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </div> 
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-md-6 empresa-right-section first"></div>

    <div class="col-md-6 empresa-right-section history-div">
      <nav class="subscription-bar close-navbar">
        <div>
          <div class="nav navbar-nav navbar-left">
            <div class="navbar-left navbar-left">
              <i class="fa fa-window-close-o" aria-hidden="true"></i>
            </div>
          </div> 
          <div>
            <div class="right-nav-history">
              <div>
                <i class="navbar-right fa fa-facebook" aria-hidden="true"></i>
              </div> 
              <div >
                <i class="navbar-right fa fa-twitter" aria-hidden="true"></i>
              </div> 
              <div>
                <i class="navbar-right fa fa-instagram" aria-hidden="true"></i>
              </div> 
            </div>
          </div> 
        </div>
      </nav>
      <br>
      <br>
      <img src="/assets/images/history-bg.jpg" class="history-img">
      <div class="content">
        <h2>Ofrecemos <em>Calidad</em> <br> En todos nuestros Productos</h2>
        <p class="text-justify">SUMEL SAS, con sede principal en la ciudad de Medellín fue fundada en Octubre de 1983 y tiene como actividad primordial la venta y alquiler de equipos médicos hospitalarios, equipos para hospitalización en casa -oxigeno medicinal 24 horas y Biotecnologia. Adicional contamos con un área de Ingeniría Biomédica. Todas nuestras actividades están enfocadas en la satisfacción total de nuestros clientes, bajo los conceptos de: puntualidad en las entregas, manejo de productos de alta calidad, excelente precio en productos y servicios, servicio postventa 24 horas y servicio técnico directo y certificado por el INVIMA.</p>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 black">
            <h2>Servimos</h2>
            <p>Con sentido humano</p>
          </div>
          <div class="col-md-6">
            <a href="/catalog" class="ver-catalogo">VER CÁTALOGO</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 empresa-right-section history-div negocio-div">
      <nav class="subscription-bar close-navbar">
        <div>
          <div class="nav navbar-nav navbar-left">
            <div class="navbar-left navbar-left">
              <i class="fa fa-window-close-o" aria-hidden="true"></i>
            </div>
          </div> 
          <div>
            <div class="right-nav-history">
              <div>
                <i class="navbar-right fa fa-facebook" aria-hidden="true"></i>
              </div> 
              <div >
                <i class="navbar-right fa fa-twitter" aria-hidden="true"></i>
              </div> 
              <div>
                <i class="navbar-right fa fa-instagram" aria-hidden="true"></i>
              </div> 
            </div>
          </div> 
        </div>
      </nav>
      <br>
      <br>
      <div class="content content-2">
        <div class="text-center">
          <img class="sumel-logo" src="/assets/images/full_logo_blue.png">
        </div>
        <h2 class="text-center">Lineas de <em>Negocio</em></h2>
        <br>
        <div class="row">
          <div class="col-md-5">
            <h2 style="color: #082050; font-size: 24px; font-weight: 900; padding-top: 20px;">
              HOSPIHOGAR
            </h2>
          </div>
          <div class="col-md-7" style="    
            text-align: justify;
            padding-left: 0;
            font-size: 13px;
            letter-spacing: 0px;">
            Proporcionar calidad de vida a los pacientes através de un servicio integral de venta
            y alquiler de los equipos necesarios para una cómoda hospitalización en casa. Servicio
            domiciliario 24 horas de oxigeno medicinal y la mejor asesoría para su bienestar. 
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-5">
            <h2 style="color: #082050; font-size: 24px; font-weight: 900; padding-top: 20px;">
              OZONOTERAPIA
            </h2>
          </div>
          <div class="col-md-7" style="    
            text-align: justify;
            padding-left: 0;
            font-size: 13px;
            letter-spacing: 0px;
            padding-top: 35px;">
            Comercialización de equipos de tecnología de punta, accesorios, consumibles y linea 
            cosmética de Ozono. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .history-div{
    display: none
  }

  .empresa-section{
    height: 110vh;
    position: relative;
  }

  .empresa-left-section{
    background: #0038A7;
    height: 110vh;
    color: white;
    padding: 0;
  }

  .first{
    background: url(/assets/images/sumel_itagui.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .empresa-right-section{
    height: 110vh;
  }

  .sumel-logo-blue{
    width: 350px;
    margin: 0 auto;
    padding-top: 60px;
    margin-left: 20px;
  }

  .empresa-left-text{
    padding-left: 50px;
  }

  .empresa--text h5{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .empresa-left-text h1{
    font-size: 52px;
    font-weight: 200;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 800;
  }
     
  .empresa-left-text p{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
  }

  .space-logo{
    margin-left: 35px;
    z-index: 0;
    position: relative;
    width: 90px;
    height: 90px;
    left: 2px;
    top: 8px;
  }

  .space-text{
    margin-top: 40px;
    padding-left: 0px;
    font-size: 16px;
  }

  .mas-button{
    background: #e00616;
    color: white;
    padding: 10px 20px;
    box-shadow: 1px 0px 3px black;
  }

  .mas-button:hover{
    color: white;
  }

  .learn-more{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;   
  }

  .close-navbar{
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ececec;
  }

  .close-navbar .fa{
    color: #909090;
    font-size: 22px;
    margin-left: 22px;
  }

  .right-nav-history{
    margin-right: 50px;
  }

  .history-div .content{
    padding-left: 40px;
    color: #797979;
  }

  .history-div .content em{
    color: black;
    font-style: initial;
  }

  .history-div .content .black h2{
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 0;
  }

  .history-div .content .black h2{
   color: black;
   font-weight: 900;
  }

  .history-div .content .black p{
   color: black;
   font-weight: 500;
  }

  .history-div .content p{
    font-weight: 200;
  }

  .bar-menu{
    font-size: 32px;
    position: relative;
    left: 126px;
    top: 25px;
    width: 33px;
  }

  .click-menu{
    height: 110vh;
    background: #09316c;
    width: 33%;
    height: 100%;
    position: absolute;
    margin-left: 0;
    left: 0px;
    z-index: 2;
    display: none;
  }

  .close-menu{
    color: white;
    font-size: 20px;
    padding-top: 35px;
    padding-right: 26px;
  }

  .menu-content{
    padding-left: 45px;
    padding-top: 35px;
  }

  .menu-content a{
    color: white;
    font-weight: 300;
    font-size: 18px;
  }

  .hr-menu{
    color: white;
    width: 60%;
    margin: 0;
  }

  .history-img{
    width: 550px;
    height: 250px;
    margin-left: 35px;
  }

  .ver-catalogo{
    background: #df0810;
    color: white;
    padding: 9px 24px;
    font-size: 12px;
    position: relative;
    top: 45px;
    left: 22px;
  }

  .ver-catalogo:hover{
    color: white;
  }

  .menu-content a{
    text-decoration: none !important;
    position: relative !important;
  }

  .menu-content a:after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 0%;
    border-bottom: 2px solid white;
    transition: 0.4s;
  }

  .menu-content a:hover:after{
    width: 100% !important;
  }

  .conectate{
    background: #09316c;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .conectate h4{
    font-weight: 200;
    font-size: 16px;
    padding: 5px 0px;
  }

  .social-fa{
    font-size: 20px;
    padding-top: 10px;
  }

  .sumel-logo{
    width: 450px;
  }
</style>

<script>
  $(document).on('turbolinks:load', function() {
    $('.history').click(function(event) {
      $('.first').hide();
      $('.history-div').show();
    });

    $('.negocio').click(function(event) {
      $('.first').hide();
      $('.negocio-div').show();
    });

    $('.bar-menu').click(function(event) {
      $('.click-menu').show('fast');
    });

    $('.close-menu').click(function(event) {
      $('.click-menu').hide('slow');
    });

    

    $('.fa-window-close-o').click(function(event) {
      $('.history-div').hide();
      $('.first').show();
    });
  });
</script>