<section class="bgExerciseTerms">
  <div class="container text-center ">
    <h1 class="bgTerms">Terms & Conditions </h1>
    <div class="termP ">
      <p>By using this Web Site, you agree to this Terms and Conditions of Use Agreement. If you do not agree, please exit and disregard the information contained herein. www.purchasepeptides.net (Mass Production Holdings LLC”) reserves the right to change this Terms and Conditions of Use Agreement, in whole or in part, at any time without prior notice to you. Accordingly, you should always review this page prior to using this Web Site and or services in order to ensure that you understand the terms under which you are permitted access. Your Use of Our Web Site Unless specified otherwise, your use of this Web Site is governed by this Terms and Conditions of Use Agreement and the www.purchasepeptides.net Privacy Policy, which is incorporated herein by this reference. In using this Web Site, you are prohibited from modifying, distributing, transmitting, reproducing, publishing, licensing, transferring, or selling any information, products or services obtained or viewed on this Web Site. However, you may display, download, or print hard copies of any material contained on this Web Site for your own personal, non-commercial use as long as you do not modify the content or delete any copyright, trademark, or other proprietary notice.
      </p>
      <p> Any other use of the information contained on this Web Site is prohibited without our express written consent. Use of Information This Web site provides information that, while useful, must not be used as a substitute for the advice of your own advisor's. Information available from this Web Site is not intended to be used  change without notice. Not Offering Any Advice The content is for informational purposes only and is not intended to provide specific advice for you, and should not be relied upon in that regard. You should not act or rely on the content without seeking the advice of a professional.  Except for that individually-identifiable information collected from you in accordance with our Privacy Policy, all comments, remarks, suggestions, ideas or other information communicated will become the exclusive property of www.purchasepeptides.net and you grant to www.purchasepeptides.net a royalty-free, perpetual, irrevocable, world-wide, non-exclusive license to use or reproduce the same. Is free to copy, disclose, distribute or analyze any such information for any and all purposes and are in no way obligated to compensate you for any such information.
    </p>

    </div>

  </div>
</section>
