<div class="logincontainer">

  <div class="container auth ">
      <h1 class="text-center" style="margin-top:90px"> Register </h1>
      <div id="big-form" class="well auth-box">
        <%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>
          <fieldset>

            <!-- Text input-->
            <div class="form-group">
              <label class=" control-label" for="textinput">Email</label>
              <div class="">
                <%= f.email_field :email, class: 'form-control input-md', tabindex: 1, placeholder: Spree.t(:email) %>
              </div>
            </div>

            <!-- Password input-->
            <div class="form-group">
              <label class=" control-label" for="passwordinput">Password</label>
              <div class="">
                <%= f.password_field :password, class: 'form-control input-md', tabindex: 2, placeholder: Spree.t(:password) %>

              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: 'btn btn-lg btn-success btn-block button-fixed', tabindex: 3 %>
            </div>

          </fieldset>
        <% end %>
      </div>
      <div class="clearfix"></div>
    </div>
</div>
