.redBg{
	background: none;
	background-color: #ff0017 !important;
}

.teamsSection{
	height: auto;
}

.see-more:hover{
 	color:white !important;
}

.mb-40{
	margin-bottom: 40px !important;
}

.teamsSection h1{
	font-weight: 700;
  margin-top: 60px;
  color: #4d4d4d;
}