<div id="spree-header">
  <nav class="top_panel">
    <div class="panel-container">
      <p class="navbar-text navbar-left">Open hours: 8.00-18.00 Mon-Sat</p>
      <div class="topPanelnavRight">
        <button type="text" class=" navbar-right add-car">Add car</button>
        <a class="navbar-text navbar-right">Register</a>
        <a class="navbar-text navbar-right">Login</a> 
      </div>
    </div>
  </nav>
  <nav class="navbar home-nav menu navbar-static-top ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img class="logoImage" src="assets/images/logoLegacy.png">
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right mainNav">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">TERMS</a></li>
          <li><a href="#">SECURITY</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
