<section class="bgExercise">
  <div class="container text-center">
    <h1 class='header__animation-chunk todo'>TODO</h1>
    <h1 class='header__animation-chunk depende'>DEPENDE DE TI</h1>
    <p class='header__animation-chunk' style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <a class="btn see-more header__animation-chunk"  href="/catalog" >CONOCER MÁS</a>
  </div>
</section>
<div class="login-bar">
  <nav class="navbar navbar-default" style="background: #dbd9da">
    <div class="container">
      <div id="navbar" class="navbar-collapse collapse informative-bar-login">
        <ul class="nav navbar-nav">
          <li><a href="#">Acerca</a></li>
          <li><a href="">Cotización</a></li>
          <li><a href="">Órdenes</a></li>
          <li><a href="/catalog">Busqueda</a></li>
          <li><a href="">Términos y Condiciones</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="../navbar/">Mapa del sitio</a></li>
          <li><a href="../navbar-static-top/">Atención al cliente</a></li>
        </ul>
      </div>
      <div class="rounded-blue-arrow"> 
      </div>
      <div class="text-center arrow">
        <i class="fa fa-arrow-up arrow" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</div>
<section class="productSection">
  
</section>
<section class="sedes text-center">
  <h1>NUESTRAS SEDES</h1>
  <div class="row sedes-bg">
    <div class="col-md-4 color1">
      <div class="one">
        <p>
          ARMENIA
        </p>
      </div>
    </div>
    <div class="col-md-4 color2">
      <div class="second">
        <p>
          Medellín
        </p>
      </div>
    </div>
    <div class="col-md-4 color3">
      <div class="third">
        <p>
          PEREIRA
        </p>
      </div>
    </div>
  </div>
</section>
<section class="home-noticias"> 
  <div class="row">
    <div class="col-md-7">
      <h1>
        NOTICIAS
      </h1>
    </div>
  </div>
</section>

<section class="saber-mas">
  <div class="row">
    <div class="col-md-8 bg-home3"></div>
    <div class="col-md-4 bluebg-home">
      <h1>TODO</h1>
      <h1>DEPENDE</h1>
      <h1>DE TI</h1>
      <a href="" class="saber-mas-bg text-center">¿QUIERES SABER MÁS?</a>
    </div>
  </div>
</section>

<section class="chevere">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-11">
          <h1>Servimos con<br> sentido humano</h1> 
        </div>
         <div class="col-md-1">
           <img src="/assets/images/exclamacion.png" class="exclamacion">
         </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row content">
        <div class="col-md-2">
          <h5>INFORMACIÓN</h5>
          <a href="">Nosotros</a>
          <br>
          <a href="">Términos</a>
          <br>
          <a href="">Búsqueda</a>
          <br>
          <a href="">Órdenes</a>
          <br>
        </div>
        <div class="col-md-3">
          <h5 class="text-center">PRODUCTOS</h5>
          <div class="col-md-6" style="padding: 0;">
            <a href="">Oxigenoterapia</a>
            <a href="">Movilidad</a>
            <a href="">Fisioterapia y rehabilitacion</a>
            <a href=""> Ayudas para el diario vivir</a>
            <a href=""> Cuidado Respiratorio</a>
          </div>
          <div class="col-md-6">
            <a href=""> Diagnostico</a>
            <a href=""> Mobiliario medico</a>
            <a href="">Ozonoterapia</a>
            <a href="">Colonterapia</a>
          </div>
        </div>
        <div class="col-md-2">
          <h5>SERVICIOS</h5>
          <a href="">Alquiler</a>
          <br>
          <a href="">Mantenimiento</a>
        </div>
        <div class="col-md-5">
          <h5>EMPRESA DETALLES</h5>
          <div class="col-md-6" style="padding: 0">
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <a href="">Sede Itagüí: <br> Calle 30 N° 41-09</a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href="">(4) 444 01 88 </a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href=""> 311 635 4073 </a>
            <br>
            <br>
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <a href="">Sede Medellín: <br> Carrera 48 N°7-380 <br>
            Mall Comercial Vegas 10</a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href="">(4) 444 01 88 </a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href=""> 316 523 4269</a>
            <br>
          </div>
          <div class="col-md-6" style="padding: 0">
        
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <a href="">Sede Pereira: <br> Calle 24 N° 6-14</a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href="">(6) 3255690 </a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href=""> 314 888 0021 </a>
            <br>
            <br>
            <i class="fa fa-suitcase" aria-hidden="true"></i>
            <a href="">Sede Armenia: <br> Carrera 12 N° 1A Norte 20 Edificio Centro Medico Empresarial Uninorte Local   105
           </a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href="">(6) 746 3334 </a>
            <br>
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <a href=""> 321 701 0685</a>
            <br>
          </div>
      

        
         <!--  <i class="fa fa-inbox" aria-hidden="true"></i>
          <a href="">test@test.com</a>
          <br>
          <i class="fa fa-skype" aria-hidden="true"></i>
          <a href="">Shop.test</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .login-bar nav{
    margin-bottom: 0;
    border-top: 3px solid red;
  }

  .forget-a{
    color: #c3736c;
    text-decoration: underline;
    font-weight: 500;
  }

  .login-bar nav ul{
    position: relative;
    left: -40px;
  }

  .rounded-blue{
     background: #0038a7;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto;
  }

  .rounded-blue .fa{
    font-size: 35px;
    color: white;
    padding-top: 30px;
  }

  .rounded-blue-arrow{
    background: red;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 29%;
    margin-left: auto;
    margin-right: auto;
  }

  .arrow{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 68%;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    color: white;
  }

  .login-form h4{
    color: #0038a7;
    font-weight: 700;
    font-size: 22px;
    padding-top: 70px;
  }

  .log-section h4, .log-section h1 {
    color: #0038a7;
    font-weight: 900;
  }

  .log-section h1 {
    font-size: 46px;
  }

  .log-section{
    padding-top: 50px;
  }

  .log-section h5{
    color: #494a4c;
    font-weight: 200;
    padding-top: 15px;
  }
  
  .login-input{
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 23px;
  }

  .button-fixed{
    margin-left: auto;
    margin-right: 0;
    width: 37% !important;
    font-size: 12px;
    border-radius: 12px;
    padding: 8px;
    padding-left: 42px;
    background: #0038a7 !important;
  }

  .forgot-password-div{
    padding-bottom: 75px;
    margin-right: 57px;
  }

  .contact-sumel{
    background: #0038a7;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 85px;
    font-size: 12px;
  }

  #map{
    height: 350px;
  }
  
  .cities-button{
    background: #d8d8d8;
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 0 auto;
    border-radius: 0px;
    background: #d8d8d8;
    padding: 10px;
    color: #9c9e9e;
    margin-bottom: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
  }
  .products-sumel{
    background: #585a59;
    width: 70%;
    margin: 0 auto; 
    color: white;  
    padding: 12px 54px;
    font-size: 12px;
  }

  .cities-button:hover{
    background: #d8d8d8 !important;
    padding: 10px;
    color: #555555;
  }

  .subscription-bar{
    height: 70px;
    background: #7f7f7f;
    margin-top: 70px;
  }

  .subscription-bar h3{
    color: white;
  }

  .left{
    padding-top: 25px;
    padding-left: 50px;
  }

  .right{
    padding-top: 15px;
    font-size: 22px;
  }

  .mr-1{
    margin-right: 1px;
  }
  
  .productSection{
    color: #1d439c;
  }

  .productSection h5{
    margin-top: 5px !important;
    font-weight: 600;
    margin-bottom: 0;
  }

  .productSection h1{
    margin-top: 0;
    font-weight: 900;
    font-size: 42px;
    margin-bottom: 10px;
  }

  @media (min-width: 768px){
    .informative-bar-login .navbar-nav>li {
      margin-left: -7px !important;
    }

    .informative-bar-login .navbar-nav > li > a{
      padding-top: 20px !important;
      padding-bottom: 20px !important;
    }
  }
</style>
