<section class="bgExercise">
  <div class="container text-center">
    <h1 class='header__animation-chunk'>Vitamin supplement for training</h1>
    <p class='header__animation-chunk' style="text-align:center;">See our best products.</p>
    <a class="btn see-more header__animation-chunk"  href="/catalog" >SEE MORE</a>
  </div>
</section>
<section class="productSection">
  <div class="text-center">
    <img src="/assets/images/LegacySuplements02.png" class="logo">
    <h6 class="text-uppercase">Best sellers</h6>
    <h2>SPORTS NUTRITION TOP SELLERS</h2>
    <p>
      Phasellus maximus, purus ultricies tincidunt tincidunt, dolor lectus ullamcorper neque, id tincidunt nulla nisi sed eros. Aenean consectetur commodo sem quis viverra. Etiam pharetra varius enim. Sed et porttitor turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <div class="row text-uppercase">
      <div class="col-md-6 text-right">
        <%= link_to "", class: "btn send-message" do%>
          <span>
            <span class="first text-uppercase">shop best sellers</span>
            <span class="second text-uppercase">shop best sellers</span>
          </span>
        <%end%>
      </div>
      <div class="col-md-6 text-left">
        <%= link_to "", class: "btn send-message" do%>
          <span>
            <span class="first text-uppercase">view all products</span>
            <span class="second text-uppercase">view all products</span>
          </span>
        <%end%>
      </div>
    </div>

    <div class="container productsDescription">
      <div class="col-md-6 text-center greyBg">
        <h6 class="text-uppercase">Best sellers</h6>
        <h2>OPTIMUM NUTRITION ESSENTIAL AMINO ENERGY</h2>
        <img src="/assets/images/protein-img.png">
      </div>
      <div class="col-md-6 photo1"></div>
      <div class="col-md-6 photo1"></div>
      <div class="col-md-6 text-center greyBg">
        <h6 class="text-uppercase">Best sellers</h6>
        <h2>OPTIMUM NUTRITION ESSENTIAL AMINO ENERGY</h2>
        <img src="/assets/images/protein-img.png">
      </div>
      <div class="col-md-6 text-center greyBg">
        <h6 class="text-uppercase">Best sellers</h6>
        <h2>OPTIMUM NUTRITION ESSENTIAL AMINO ENERGY</h2>
        <img src="/assets/images/protein-img.png">
      </div>
      <div class="col-md-6 photo1"></div>
    </div>
  </div>
  <div class="text-center">
  <a href="/catalog">
    <button type="submit" class="btn send-message">
      <span>
        <span class="first">I WANT MORE</span>
        <span class="second">I WANT MORE</span>
      </span>
    </button>
  </a>
  </div>
</section>
<%= render partial: 'spree/shared/parallax' %>
